# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Data volumes (if mounted locally)
data/

# Airflow Config / Logs / Plugins
airflow-orchestrator/config/
airflow-orchestrator/logs/
airflow-orchestrator/plugins/